* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    min-height: calc(90vh - 70px);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* header стили*/

.header {
    background-color: #f3f3f3;
    display: flex;
    width: 100%;
    height: 70px;
    box-shadow: 0 0px 10px #adadad;
    flex-wrap: wrap;
}

.main-logo {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.logo {
    height: 50px;
}

.menu-items {
    position: relative;
    width: auto;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
    visibility: visible;
}

.menu-nav {
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    transform: translateX(0px);
}

.menu-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-li {
    margin-left: 0px;
    display: inline-block;
    position: relative;
    margin-left: 25px;
}

.menu-exit {
    padding: 0 15px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu-btn {
    width: 80px;
    height: 44px;
}

.menu-link {
    text-decoration: none;
    color: #e2e2e2;
}

.items-link {
    text-decoration: none;
    color: #4F4F4F;
    cursor: pointer;
}

.items-link::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4F4F4F;
    content: "";
    transition: width 0.3s ease-out;
}

.items-link:hover:after, .items-link:focus:after {
    width: 100%;
}

.search {
    display: inline-block;
    margin: 20px 40px;
}

.search-form {
    position: relative;
    width: 400px;
}

.search input {
    width: 794px;
    height: 62px;
    padding-left: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    box-shadow: 0px 5px 30px rgb(212, 212, 212);
    background: #FFFFFF;
    font-size: 16px;
    color: #BDBDBD;
}

.search button {
    position: absolute;
    top: 4px;
    left: 672px;
    width: 117px;
    height: 54px;
    border: none;
    color: #FFFFFF;
    background: #4F4F4F;
    border-radius: 4px;
    cursor: pointer;
}

.fa-search {
    font-size: 18px;
} 

.post_categories {
    display: flex;
    list-style: none;
}

.post_categories li {
    margin: 5px;
}

.post_categories a {
    color: #e7e6e6;
}

.post_categories .btn {
    background-color: #0067D0;
    height: 25px;
    border-radius: 20px;
}

/* footer */

.footer {
    position: absolute;
    width: 100%;
    height: 115px;
    background-color: #333333;
    padding-top: 20px;
}

.footer-down p {
    color: #FFFFFF;
    margin-right: 150px;
    float: left;
}

.footer-down a {
    text-decoration: none;
    color: #E0E0E0;
}

.footer-up {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer_left {
    display: flex;
}

.footer_right {
    display: flex;
    margin-left: auto;
}

.footer_info {
    display: inline-block;
    align-items: center;
    max-width: 200px;
    color: #E0E0E0;
}

.webstyle_logo {
    margin-top: 10px;
}

.line_footer {
    display: inline-block;
    margin: 0 10px;
    height: 48px;
    width: 0px;
    border: 1px solid #4F4F4F;
}

/* table */

.main-table {
    width: 1170px;
    justify-content: center;
    margin: 50px 0px;
}

table {
    margin: auto;
}

th {
    min-width: 150px;
    text-align: left;
    color: #fff;
    background-color: #0067D0;
}

td {
    color: #5e5e5e;
    border-bottom: 1px solid #eee;
}

th, td {
    padding: 10px;
    height: 20px;
}

td:first-child {
    min-width: 0;
}

th:last-child {
    text-align: left;
}

td:last-child {
    width: 80px;
    min-width: 0;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.table-link {
    text-decoration: none;
    color: #0067D0;
}

.table-link:hover {
    text-decoration: underline;
}

/* content */

.heading-h {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    color: #585858;
}

.fa-trash-alt {
    color: #e03434;
    font-size: 20px;
}

/* form */

.form-group {
    margin-top: 10px;
}

.single-form {
    float: right;
}

.aplication-info {
    width: 100%;
}

.aplication-info .text-field {
    display: block;
    margin: 30px auto;
    max-width: 600px;
}

.text-field {
    margin: 1rem;
    max-width: 250px;
    display: inline-block;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 5px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled, .text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

/* with floating label */

.text-field_floating-3 {
    position: relative;
}

.text-field_floating-3 .text-field__input {
    border-bottom: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
    background-color: #f5f5f5;
}

.text-field_floating-3 .text-field__input:focus {
    outline: 0;
    border-bottom: 1px solid #0067D0;
    box-shadow: none;
    background-color: #eee;
}

.text-field_floating-3 .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: color .15s ease-in-out, transform .15s ease-in-out;
}

.text-field_floating-3 .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating-3 .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating-3 .text-field__input:focus, .text-field_floating-3 .text-field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.text-field_floating-3 .text-field__input:focus~.text-field__label, .text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
    color: #0067D0;
}

/* Кнопки */

.btn {
    border: none;
    background: #4F4F4F;
    border-radius: 4px;
    cursor: pointer;
}

.input-filter {
    height: 30px;
    width: 70px;
    border: none;
    color: #FFFFFF;
    background: #4F4F4F;
    border-radius: 4px;
    cursor: pointer;
}

.sub-delete {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.sub-block {
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;
}

.single-btn {
    font-size: 16px;
    width: 170px;
    height: 40px;
}

.single-del {
    float: right;
    font-size: 16px;
    width: 170px;
    height: 40px;
    background-color: rgb(233, 75, 75);
    margin-right: 40px;
}

.btn-create {
    font-size: 16px;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* color */

.co-white {
    color: #eee;
}

.co-blue {
    color: #0067D0;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.fs-14 {
    font-size: 14px;
}
/* blok for form-create */

.create-cat {
    padding: 10px;
    box-shadow: 0px 5px 10px #bdbdbd;
    margin: 30px 0;
}

.create-cat .text-field {
    display: block;
    margin: 30px 0;
    max-width: 600px;
}

/* input-file */

.field__wrapper {
    width: 300px;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 40px;
    width: calc(100% - 130px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}

.field__file-button {
    width: 130px;
    height: 40px;
    background: #0067D0;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

.feedback-info {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #212529;
    background-color: rgb(241, 241, 241);
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin: 10px 0;
    max-width: 600px;
}

.feed-single {
    display: grid;
    justify-content: center;
}